/*font-family: 'Amatic SC', cursive;  /  худой текст
font-family: 'Caveat', cursive;			/ рукописный текст
font-family: 'Comfortaa', cursive;      / красивый текст
font-family: 'Russo One', sans-serif;    /Жирный текст   */
@import url(header.css);
@import url(sections.css);
@import url(nav.css);
@import url(media.css);


.name {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 998;
}
.name p {
    font-family: 'Caveat', cursive;
    font-size: 40px;
    cursor: default;
}
.name h6 {
    font-size: 16px;
    margin-left: 10px;
    cursor: default;
}
.sound{
    width: 15px;
    height: 15px;
    margin-left: 20px;
    position: absolute;
    right: 0;
    top: 20px;
}
.sound img{
    width: 100%;
    transition: .2s;
    transform: rotate(0);
    cursor: pointer;
}
.sound img:hover {
    transform: rotate(-10deg);
}





.cursor {
    width: 40px;
    height: 40px;
    outline: 3px dotted var(--black);
    z-index: 800;
    border-radius: 50%;
    position: fixed;
    background-color: var(--red);
    top: 0;
    left: 0;
    animation: Rotate 3s infinite linear;
    transform: translate(-50%,-50%);
    transition: 0s;
}
.cursor:hover {
    background-color: transparent;
    width: 60px;
    height: 60px;
}


footer {
    width: 100vw;
    height: calc(var(--index) * 21);
    margin-top: 100px;
    position: relative;
    overflow: hidden;
    bottom: 0;
}
footer img{
    width: 100%;
    height: auto;
    object-fit:contain;
    position:absolute;
    bottom: 0;
}

@keyframes Rotate {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}

::-webkit-scrollbar {
    width: 10px;

}

::-webkit-scrollbar-track {
    background: var(--white);

}

::-webkit-scrollbar-thumb {
    background: var(--green);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: gray;
}

