

@media(max-width: 768px){
	.portfolio{
		width: 100vw;
	}
	.about{
		width: 100vw;
	}
	.contact {
		width: 100vw;
	}
	.section1 {
		flex-flow: column nowrap;

	}
	.sec1{
		width: 100%;
		align-items: flex-start;
		padding-left: 10px
	}
	.sec2{
		width: 100%;
	}
	.someAbout {
		max-width: 70%;
	}
	.nav__gifs {
		display: none;
	}
	nav {
		width: 40px;
	}
	.nav__formBlock {
		height: 100%;
		flex-flow: column nowrap;
	}
	nav form {
		width: 80%;
	}
	form .div {
		width: 100%;
		align-items: center;
		flex-flow:column;
	}
	form input{
		width: 70%;
	}
	.about__form form {
		display: none;
	}
	.about__toDo {
		width: 90%;
	}
	
}